@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 20px auto;
    max-width: 650px;
    width: 90%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #302e17;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.dark-mode {
    background-color: #302e17;
    color: #fff;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    color: #5c5a3d;
    text-decoration: underline;
}

a:hover {
    color: #837e5b;
    text-decoration: underline;
}

.dark-mode a {
    color: #a9a683;
    text-decoration: underline;
}

.dark-mode a:hover {
    color: #c3be9c;
    text-decoration: underline;
}

button {
    background-color: transparent;
    color: #302e17;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: none;
}

.dark-mode button {
    color: #fff;
}

.main {
    margin-top: 20px;
}

header h1, header aside {
    text-align: left;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }
}

@media (min-width: 769px) {
    .desktop-only {
        display: block;
    }
}
